# Ignorar el archivo .env
.env

# Ignorar la carpeta env
env/

# Ignorar la carpeta __pycache__
__pycache__/

#ignorar el archivo requirements.txt
requirements.txt

#Cualquier archivo que sea .log
*.log

